/* .inputBox {
  height: calc(48px + 0.5vmin);
  border: 1px solid #efefef;
  width: 100%;
} */

.chooseContainer {
  display: flex;
  flex: 5;
  flex-direction: column;
  padding: calc(28px + 1vmin);
}
