#logoText {
  color: #ff8a00;
  font-family: Red Hat Display;
  font-size: calc(36px + 0.5vmin);
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}

#headerView {
  display: flex;
  background-color: white;
  align-items: center;
  padding-left: calc(8px + 0.5vmin);
  padding-right: calc(8px + 0.5vmin);
  width: 100%;
  justify-content: space-between;
}
